{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}

    <h1>Hello</h1>
    {% if is_granted('ROLE_USER') %}
        Hello "{{ app.security.token.user.name }}".<br />
        <a href="/user/logout">{{ 'Logout'|trans }}</a>
    {% else %}
        Your a not logged. Please <a href="/user/login">{{ 'connect'|trans }}</a>
    {% endif %}
{% endblock %}
